<!DOCTYPE html>
<html>
<head>
  <title>Restaurant App</title>

</head>
<body>
<h1>Restaurant App</h1>
<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
<%= link_to "Back to Home", root_path %>
</body>
</html>
