<!DOCTYPE html>
<html>
<head>
  <title>Restaurant Experience</title>
  <%= stylesheet_link_tag 'restauranthome' %>
</head>
<body>
  <h1 class="title">Restaurant Experience</h1>
  
  <div class="restaurant-buttons">
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant.name, restaurant_path(restaurant), class: 'btn btn-orange' %>
    <% end %>
  </div>
</body>
</html>
