<div class="cook-container">
  <% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'cook' %>
  <% end %>

  <!-- Title -->
  <h1 class="title">
    Let's Cook Today
  </h1>

  <!-- Main Buttons -->
  <div class="buttons">
    <%= link_to 'Generate a Dish', generate_dish_cook_index_path, class: 'btn btn-orange' %>
    <%= link_to 'Cook with Existing Ingredients', by_ingredients_cook_index_path, class: 'btn btn-blue' %>
  </div>

  <!-- Back to Home Button -->
  <div class="back-home">
    <%= link_to 'Back to Home', root_path, class: 'btn btn-blue' %>
  </div>
</div>
