<div class="home-container">
  <h1 class="title">Welcome to diNUS</h1>
  <div class="buttons">
    
    <%= link_to 'Cook Yourself', cook_index_path, class: 'btn btn-secondary' %>
    <%= link_to 'Dining Experience', restauranthome_path, class: 'btn btn-primary' %>

  </div>
</div>
