<div class="home-container">
  <% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'home' %>
  <% end %>

  <h1 class="title">
    <span class="di">di</span><span class="nus">NUS</span>
  </h1>

  <!-- Buttons Section -->
  <div class="buttons">
    <!-- Left Button with Blue Color -->
    <%= link_to 'Cook Yourself', cook_index_path, class: 'btn btn-left' %>

    <!-- Right Button with Orange Color -->
    <%= link_to 'Dining Experience', restauranthome_index_path, class: 'btn btn-right' %>
  </div>
</div>
